@media screen and (min-width:1350px ) {
    .container {
        width: 78%;
        margin: 0 auto;

    }

    header {
        padding: 0;
        border-bottom: 1px solid $grayish-blue;

        .hamburger-logo-group {
            gap: 5.4rem;
        
            .hamburger {
                display: none;
            }

            .menu {
                display: block;
                position: unset;
                height: unset;
                z-index: unset;
                background-color: transparent;

                .slide-menu {
                    display: unset;
                    padding: 0;

                    img {
                        display:none;
                    }

                    ul {
                        display: flex;
                        flex-direction: row;
                        margin: 0;

                        font-size: 1.6rem;
                        font-weight: 700;
                        color: $dark-grayish-blue;
                        gap: 3.4rem;

                        a {
                            display: block;
                            padding: 3.5rem 0 3rem 0;
                            border-bottom: 3px solid transparent;
                        

                            &:hover {
                                color: $very-dark-blue;
                                text-decoration: none;
                                font-weight: 700;
                                border-bottom: 3px solid $orange;
                            }
                        } 
                    }
                }
            }
        }

        .cart-avatar-group {
            gap: 5.4rem;

            .avatar {
                width: 5rem;
            }
        }

        .cart {
            right: -7rem;
            top: 100%;
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10rem;
        padding: 9rem 5rem;
    }
    .lightbox {
        width: 100%;

        .product-hero {
            border-radius: 1.5rem;
        }

        .previous, .next {
            display: none;
        }

        .product-thumbs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2.5rem;
    
            .thumbs {
                border-radius: 1rem;
                margin: 0;
                border: 3px solid transparent;

                img {
                    width: 8rem;
                    border-radius: 0.5rem;
                }
    
                &:hover {
                    cursor: pointer; 
                    opacity: 0.75;
                }
            }
            
            .active {
                border: 3px solid $orange;
                opacity: 0.5;
            }
        }
    }
    
    .product {
        .product-title {
            font-size: 3rem;
    
        }
        .count-btn-group {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            
            gap: 1rem;
            .content-wrapper {
                width: 40%;
                padding: 1rem;

            }

            .btn {
                width: 60%;
                padding: 1.5rem;
            }
        } 
    }
}