.product {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 2rem 2.4rem 4.4rem 2.4rem;

    .company-name {
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        color: $orange;

    }

    .product-title {
        font-size: 2.5rem;
        color: $very-dark-blue;

    }

    .product-desc {
        font-size: 1.5rem;
        line-height: 1.5;
        color: $dark-grayish-blue

    }

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        

        .group {
            display: flex;
            align-items: center;
            gap: 2rem;

            .product-price {
                font-size: 2.5rem;
                font-weight: 700;
                color: $very-dark-blue;
    
            }
    
            .discount {
                font-size: 1.5rem;
                font-weight: 700;
                color: $orange;
    
                background-color: $pale-orange;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
    
            }
        }
        

        .price-before {
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: line-through;
            color:$grayish-blue;

        }
    }

    .count-btn-group {
        margin-top: 1.5rem;


        .content-wrapper {
            padding: 2rem 2.4rem;
            background-color: $light-grayish-blue;
            border-radius: 1rem;

            font-size: 2rem;
            font-weight: 700;


            display: flex;
            justify-content: space-between;
            align-items: center;

            #btnMinus, #btnPlus {
                cursor: pointer;
                padding: 1rem;
                border-radius: 0.5rem;

                &:hover {
                    opacity: 0.5;
                    background-color: $pale-orange;
                }
            }
        }

        .btn {
            padding: 2rem;
            background-color: $orange;
            border-radius: 1rem;

            font-size: 1.55rem;
            font-weight: 700;
            color: white;

            display: flex;
            justify-content: center;
            gap: 1.5rem;
            align-items: center;
            margin-top: 1.5rem;

            img {
                height: 1.55rem;
                filter: brightness(300%);
            }

            box-shadow: 0px 20px 30px 0px $pale-orange;
            cursor: pointer;
        }
    }
}